/* Apply to all award blocks */
[href$="pack=4#poi"]:has([href$="awards.css"]) {
  display: block;
  width: 400px;
  margin: auto;
  height: 80px;
  background: url('https://seadragoness.github.io/dragonspire-armada/awards/6022.png') center no-repeat
}
[href$="pack=4#poi"]:has([href$="awards.css"]):hover {
  border: 1px solid;
  border-color: #0b83bd80;
  box-shadow: 0 0 20px #096a9980;
}

/* Override for user 6022 */
.postwrap:has(.postbit_find[href$="6022"]) [href$="pack=4#poi"]:has([href$="awards.css"]) {
  background: url('https://seadragoness.github.io/dragonspire-armada/awards/6022.png') center no-repeat
}
/* Override for user 6097 */
.postwrap:has(.postbit_find[href$="6097"]) [href$="pack=4#poi"]:has([href$="awards.css"]) {
  background: url('https://seadragoness.github.io/dragonspire-armada/awards/5630.png') center no-repeat
}
